.container{
  margin: auto;
  position: absolute;
  top: 50%; left: 45%; bottom: 0; right: 0;
}

.password{
 position: absolute;
 font-family: test, helvetica, sans-serif;
 font-style: normal;
 font-weight: 400;
 color: #ababab;
 text-rendering: optimizeLegibility;
 text-transform: uppercase;
 padding: 20;
}

@font-face{
font-family: test;
src: url(https://github.com/DeclanBernardin/PasswordGenerator/blob/master/fonts/VCR_OSD_MONO.woff2)
}