.container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.password{
  text-align: center;
 font-family: test, helvetica, sans-serif;
 color: #ababab;
 text-rendering: optimizeLegibility;
 width: 300px;
 margin: 8px;
}

.form {
  font-family: test, helvetica, sans-serif;
 color: #ababab;
 padding: 20px;
}




@font-face{
  font-display: swap;
font-style: normal;
font-weight: 400;
font-family: test;
src: url(VCR_OSD_MONO.woff2) format("woff2");
}