.container{
  position: absolute;

  top: 45%; left: 45%; bottom: 0; right: 0;
}

.password{
  text-align: center;
 font-family: test, helvetica, sans-serif;
 color: #ababab;
 text-rendering: optimizeLegibility;
 text-transform: uppercase;
 padding: 20;
 width: 300px
}

@font-face{
  font-display: swap;
font-style: normal;
font-weight: 400;
font-family: test;
src: url(VCR_OSD_MONO.woff2) format("woff2");
}